.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    height: 20%;
    justify-content: center;
    width: 100%;
}

.memory-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    width: 100%;
}

.memory-statistics {
    align-items: center;
    display: flex;
    height: 10%;
    justify-content: center;
    width: 100%;
}

.memory-manager {
    height: 80%;
    width: 50%;
}

.memory-chrono {
    align-items: center;
    display: flex;
    height: 10%;
    justify-content: center;
    width: 100%;
}